.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  z-index: 2;
}

.header .header-body-logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-body-logo .header-logo-catalog {
  display: block;
  width: 150px;
  height: 40px;
  z-index: 5;
}

.header .header-body-logo .header-logo-catalog img {
  width: 100%;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 0 0 -140px;
  padding: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.header .header-nav a {
  height: 100%;
  display: block;
  margin: auto;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.header .header-nav a:after {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
}

.header .header-nav a:hover {
  color: #2D2D2D;
}

.header .header-nav a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

.header .burger-menu_button {
  position: fixed;
  display: none;
  right: 5px;
  top: 2px;
  z-index: 30;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .burger-menu_button:hover .burger-menu_lines {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.header .burger-menu_lines::before,
.header .burger-menu_lines::after,
.header .burger-menu_lines {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .burger-menu_lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .burger-menu_lines::before {
  content: '';
  top: -10px;
}

.header .burger-menu_lines::after {
  content: '';
  top: 10px;
}

.header .burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.header .burger-menu_active .burger-menu_lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .burger-menu_active .burger-menu_lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .burger-menu_link {
  padding: 18px 35px;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #fff;
}

.header .burger-menu_link:hover {
  color: #333;
  background-color: #fff;
  -webkit-transition: all 1.5s cubic-bezier(0.2, 0, 0, 1);
  transition: all 1.5s cubic-bezier(0.2, 0, 0, 1);
}

.header .burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.header .burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
